/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/uploads/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/
/app/config/parameters.yml
/app/downloadFiles/*
/nbproject/private/
.settings/org.eclipse.wst.validation.prefs
.project
.buildpath
